<h1><%= @job.customer_name %></h1>

<p><%= @job.subdivision %></p>
<p><%= @job.city %></p>
<p><%= @job.customer_ref_id %></p>
<p><%= @job.customer_invoice_id %></p>
<p><%= @job.customer_name %></p>
<p><%= @job.address %></p>
<p><%= @job.city %></p>
<p><%= @job.state %></p>
<p><%= @job.zip %></p>
<p>Open: <%= @job.is_open %></p>

<p><%= @job.created_at %></p>